---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import PandaDemo from '../components/PandaDemo.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { css } from 'styled-system/css';
import Card from 'src/components/Card.astro';
import { vstack } from 'styled-system/patterns';
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div
      class={vstack({
        maxWidth: '1200px',
        margin: '0 auto',
        padding: '2em',
        gap: '8'
      })}
    >
      <Card class={css({ mt: '6' })} headerText='Welcome to riceboyler.com!'>
        <p
          class={css({
            fontFamily: 'zilla',
            fontSize: 'xl',
            color: 'text.primary'
          })}
        >
          You've reached the online home of Jason Clark (aka <a
            href='/riceboyler'>riceboyler</a
          >) and my personal web site. I wear many different hats and have a few
          different titles:

          <ul
            class={css({ listStyleType: 'disc', pl: 6, mt: 4, fontSize: 'xl' })}
          >
            <li>Son (to two sets of parents)</li>
            <li>Husband (to one, only one (Zoni))</li>
            <li>Father (to three (Owen, Zander, Lauralynn))</li>
            <li>
              Front-End Web Architect (for{' '}
              <a href='https://chatbooks.com'> Chatbooks </a>
              )
            </li>
            <li>
              Treasurer/Board Member - Reno Region Sports Car Club of America (<a
                href='https://renoscca.org'>Reno SCCA</a
              >)
            </li>
            <li>
              Occasional <a href='https://github.com/riceboyler'>
                Open Source Contributor</a
              >
            </li>
            <li>Boost Junkie (because I love turbocharged cars)</li>
            <li>Boomer. Yeah. Kids...</li>
          </ul>
        </p>
      </Card>
      <Card headerText='Plans for this site'>
        <div class={vstack({ gap: '4', fontSize: 'xl' })}>
          <div>
            Like most full-time employed web developers, my personal site always
            seems to come last. It was the same when I was a car audio
            installer, my car was always the worst looking install (though I did
            make it sound good!).
          </div>
          <div>
            Initially, I'll work on the responsive side of things, as I know
            this isn't mobile friendly yet. Then, I'll probably only get the
            Resume/CV page built, because I plan to use this as a bit of a
            portfolio in and of itself. Eventually, I'll add a blog, a
            portfolio, a contact page, my car history, and the pretty crazy
            story of my finding my biological family.
          </div>
        </div>
      </Card>
      <Card headerText="How It's Made ©">
        <p class={css({ fontSize: 'xl' })}>
          I used a bunch of modern technology (as of late 2021, updating in mid
          2025) to build this site. Here goes:
          <ul
            class={css({ listStyleType: 'disc', pl: 6, mt: 4, fontSize: 'xl' })}
          >
            <li>
              <a
                href='https://astro.build'
                rel='noopener noreferrer'
                target='_blank'>Astro!</a
              > - I finally made the switch from Next.js to Astro! Astro is a static
              site generator that allows you to build fast, modern websites with
              a focus on performance and simplicity. It's been a game changer for
              my personal projects.
            </li>
            <li>
              <a
                href='https://typescriptlang.org'
                rel='noopener noreferrer'
                target='_blank'>TypeScript</a
              > - I used to hate it. Now I don't know how to ever go back to plain
              JavaScript again!
            </li>
            <li>
              <a
                href='https://panda-css.com'
                rel='noopener noreferrer'
                target='_blank'>Panda CSS</a
              > - a library for building UI components with a focus on accessibility
              and performance. It provides the best of CSS-in-JS while being precompiled
              via PostCSS. It's like Tailwind CSS, but without the nasty class names.
            </li>
            <li>
              <a
                href='https://vercel.com'
                rel='noopener noreferrer'
                target='_blank'>Vercel</a
              > - I figure if they're good enough to create Next.js, they're good
              enough to be the main host for Next.js apps.
            </li>
          </ul>
        </p>
      </Card>
    </div>
    <Footer />
  </body>
</html>
