---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { css } from '../../styled-system/css';
import { stack } from '../../styled-system/patterns';
import { Image } from 'astro:assets';
import bitmoji from '../assets/bitmoji.png';
import { box } from 'styled-system/patterns/box.mjs';
import { hstack } from 'styled-system/patterns/hstack.mjs';
---

<header
  class={css({
    margin: 0,
    padding: '1em 2em',
    background: 'rgba(15, 23, 42, 0.95)',
    backdropFilter: 'blur(10px)',
    borderBottom: '1px solid token(colors.border.primary)',
    boxShadow: '0 4px 6px rgba(0, 0, 0, 0.3)',
    position: 'sticky',
    top: 0,
    zIndex: 50
  })}
>
  <nav
    class={hstack({
      width: '100%',
      alignItems: 'center',
      justifyContent: 'space-between'
    })}
  >
    <div
      class={stack({
        direction: 'row',
        alignItems: 'center',
        justifyContent: 'center',
        gap: 4
      })}
    >
      <div
        class={box({
          borderRadius: 'full',
          overflow: 'hidden',
          width: ['48px', '96px'],
          height: ['48px', '96px']
        })}
      >
        <Image
          src={bitmoji}
          alt="riceboyler's Bitmoji"
          class={css({
            width: ['48px', '96px'],
            height: ['48px', '96px'],
            borderRadius: 'full'
          })}
        />
      </div>
      <h3>
        <a
          href='/'
          class={css({
            textDecoration: 'none',
            background:
              'linear-gradient(135deg, token(colors.indigo.400), token(colors.navy.300))',
            backgroundClip: 'text',
            color: 'transparent',
            fontWeight: '700',
            fontSize: ['2xl', '6xl'],
            fontFamily: 'zen',
            letterSpacing: 'tighter'
          })}
          >{SITE_TITLE}
        </a>
      </h3>
    </div>
    <div class={hstack({ gap: 2, display: ['none', 'flex'] })}>
      <HeaderLink href='/'>Home</HeaderLink>
      <HeaderLink href='/blog'>Blog</HeaderLink>
      <HeaderLink href='/about'>About</HeaderLink>
    </div>
    <button
      class={css({
        display: ['flex', 'none'],
        flexDirection: 'column',
        justifyContent: 'center',
        alignItems: 'center',
        gap: 1,
        background: 'transparent',
        border: 'none',
        cursor: 'pointer',
        padding: 2
      })}
      aria-label='Menu Button'
      onClick={() => {
        const navLinks = document.getElementById('nav-links');
        if (navLinks) {
          if (navLinks.style.display === 'flex') {
            navLinks.style.display = 'none';
          } else {
            navLinks.style.display = 'flex';
          }
        }
      }}></button>
    <div
      class={css({
        display: ['flex', 'none'],
        gap: 3
      })}
    >
    </div>
  </nav>
</header>
